<html>

<head>
  <title>Vue Refraction Angle Calculator</title>
  <style>
    body {
      margin: 20px;
      padding: 0px;
      background: black;
      color: white;
      font-size: 2em;
    }
  </style>
  <!-- import JavaScript for Vue -->
  <script src="vue/vue.js"></script>
  <script src="vue/index.js"></script>
  <script src="vue/en.js"></script>
</head>

<body>
  <div id="root">
    <vue-app></vue-app>
  </div>
</body>

<script>

  Vue.component(
    'vue-app', {
    template: `<div style="display: flex; flex-direction: column; gap: 20px">
      <div style="display: flex; flex-direction: row; gap: 50px">
        <label>Medium 1</label>
        <input type="text" :value="medium1" @input="inputMedium1"></input>
      </div>
      <div style="display: flex; flex-direction: row; gap: 50px">
        <label>Medium 2</label>
        <input type="text" :value="medium2" @input="inputMedium2"></input>
      </div>
      <div style="display: flex; flex-direction: row; gap: 50px">
        <label>Angle of incidence (degrees)</label>
        <input type="text" :value="deg1" @input="inputDeg1"></input>
        <label v-if="deg1">{{ Number(deg1).toFixed(1) }}</label>
      </div>
      <div style="display: flex; flex-direction: row; gap: 50px">
        <label>Angle of refraction (degrees)</label>
        <input type="text" :value="deg2" @input="inputDeg2"></input>
        <label v-if="deg2">{{ Number(deg2).toFixed(1) }}</label>
      </div>
    </div>`,
    methods: {
      inputMedium1(evt) {
        this.medium1 = Number(evt.target.value);
        this.calculate();
      },
      inputMedium2(evt) {
        this.medium2 = Number(evt.target.value);
        this.calculate();
      },
      inputDeg1(evt) {
        this.deg1 = Number(evt.target.value);
        this.mode = 0;
        this.calculate();
      },
      inputDeg2(evt) {
        this.deg2 = evt.target.value;
        this.mode = 1;
        this.calculate();
      },
      calculateIncidenceAngle(n1, n2, deg2) {
        const rad2 = deg2 / 180 * Math.PI; // radians
        let ratio = n2 / n1 * Math.sin(rad2);
        if (ratio < -1) {
          ratio = -1;
        } else if (ratio > 1) {
          ratio = 1;
        }
        let rad1 = Math.asin(ratio); // radians
        let deg1 = rad1 * 180 / Math.PI; // degrees
        /*
        console.log('calculateIncidenceAngle:',
          'n1=', n1,
          'n2=', n2,
          'deg1=', deg1.toFixed(1),
          'deg2=', deg2.toFixed(1));
        */
        return deg1;
      },
      calculateRefractionAngle(n1, n2, deg1) {
        const rad1 = deg1 / 180 * Math.PI; // radians
        let ratio = n1 / n2 * Math.sin(rad1);
        if (ratio < -1) {
          ratio = -1;
        } else if (ratio > 1) {
          ratio = 1;
        }
        let rad2 = Math.asin(ratio); // radians
        let deg2 = rad2 * 180 / Math.PI; // degrees
        /*
        console.log('calculateRefractionAngle:',
          'n1=', n1,
          'n2=', n2,
          'deg1=', deg1.toFixed(1),
          'deg2=', deg2.toFixed(1));
        */
        return deg2;
      },
      calculate() {
        switch (this.mode) {
          case 0:
            this.deg2 = this.calculateRefractionAngle(Number(this.medium1), Number(this.medium2), Number(this.deg1));
            break;
          case 1:
            this.deg1 = this.calculateIncidenceAngle(Number(this.medium1), Number(this.medium2), Number(this.deg2));
            break;
        }
      },
    },
    mounted() {
      this.calculate();
    },
    data() {
      return {
        mode: 0,
        medium1: 1.33,
        medium2: 1.5,
        deg1: 35,
        deg2: '',
      }
    }
  });

  var vue = new Vue({
    el: '#root',
    data: {
    }
  });

</script>

</html>